<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>okokPhone Custom App Template By Luxu</title>
    <script defer src="./assets/dev.js"></script>
    <script defer src="./assets/utils.js"></script>
    <script defer src="./assets/script.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./assets/style.css" />
  </head>
  <body style="visibility: hidden">
    <div id="app-container">
      <!-- Edit your app 👇 -->
      <main class="w-full h-full bg-gradient-to-br from-indigo-500 to-purple-700 flex flex-col items-center justify-center gap-8 p-8">
        <button
        class="text-xl font-medium bg-gradient-to-r from-blue-500 to-teal-400 hover:from-teal-400 hover:to-blue-500 text-white px-6 py-3 rounded-xl shadow-lg hover:shadow-2xl transition-all duration-300 transform hover:scale-105"
        onclick="window.location.href='app.html'">
        Home
      </button>
        <section id="flappyBird" class="text-center">
          <iframe src="https://www.jopi.com/gam/go-up-dash/" frameborder="1" scrolling="no" width="550px" height="500px" ></iframe>      
        </section>
        </main>
      <!-- Edit your app 👆 -->
    </div>
  </body>
</html>
